{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <form action="{{ path('reset_password') }}" method="post" class="form-signin">
            <div class="form-group">
                <label for="username">
                    {% if isSmsSystemEnabled %}{{ 'Phone number:'|trans }}{% else %}{{ 'User number:'|trans }}{% endif %}
                </label>
                <input type="text" id="username" name="number" value="" class="form-control" required autofocus>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
                {{ 'Forgotten? Reset password'|trans }}
            </button>
        </form>
    </div>
{% endblock %}