{% extends 'base.html.twig' %}

{% block title %}{{ siteName }}|{{ 'Return'|trans }}{% endblock %}

{% block body %}
    <div class="page-header">&nbsp;</div>
    {% if result and not result.error %}
        <div class="alert alert-success">
            {{ rent_result_html(result) }}
        </div>
    {% elseif result and result.error %}
        <div class="alert alert-danger">
            {{ rent_result_html(result) }}
        </div>
    {% elseif error %}
        <div class="alert alert-danger">
            {{ error|trans }}
        </div>
    {% endif %}
{% endblock %}
