{% block fleet %}
<div class="row">
    <div class="col-lg-12">
        <div class="input-group mb-2">
            <input type="number" name="bikeNumber" id="bikeNumber" class="form-control" placeholder="{{ 'Enter bike number'|trans }}" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="where" title="{{ 'Display the bike stand location or name of person using it.'|trans }}">
                    <span class="fas fa-map-marker"></span> {{ 'Where is?'|trans }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row" id="fleetconsole">

        </div>
        {# bike card#}
        <div class="col-md-4 mb-4 d-none" id="bike-card-template" data-bike-number="">
            <div class="card bike-card border">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Bike'|trans }}: <span class="bike-number"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted stand-info">
                        {{ 'Stand'|trans }}: <span class="stand-name"></span>
                        <i class="fas fa-exclamation-triangle d-none service-stand"></i>
                    </h6>
                    <p class="card-text note-info d-none"><strong>{{ 'Note'|trans }}:</strong> <span class="note-text"></span></p>
                    <p class="card-text rent-info d-none"><strong>{{ 'Rented by'|trans }}:</strong> <span class="user-name"></span> <strong>{{ 'at'|trans }}:</strong> <span class="rent-time"></span></p>
                </div>
                <div class="card-footer">
                    <div class="bike-actions d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary btn-sm bike-revert ml-2" title="{{ 'Be careful! Revert accidentally rented bike in case of mistake or misread bike number.'|trans }}">
                            <i class="fas fa-history" title="{{ 'Revert'|trans }}"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm bike-remove-note d-none ml-2" title="{{ 'Remove note'|trans }}">
                            <i class="fas fa-eraser" title="{{ 'Remove note'|trans }}" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm bike-last-usage ml-2" title="{{ 'Display network usage (blank) or history of bike usage (number entered).'|trans }}">
                            <i class="fas fa-signal" title="{{ 'Last usage'|trans }}" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# bike last usage modal#}
        <div class="modal" tabindex="-1" role="dialog" id="bikeLastUsage">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'Last usage'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer justify-content-center flex-wrap">
                        <div class="d-flex flex-wrap justify-content-center gap-3 text-center">

                            <div class="legend-item mx-3 text-danger">
                                <i class="fas fa-fast-forward fa-lg" title="{{ 'Force Rent'|trans }}"></i><br>
                                <small class="font-weight-bold">{{ 'Force Rent'|trans }}</small>
                            </div>

                            <div class="legend-item mx-3 text-info">
                                <i class="fas fa-forward fa-lg" title="{{ 'Rent'|trans }}"></i><br>
                                <small class="font-weight-bold">{{ 'Rent'|trans }}</small>
                            </div>

                            <div class="legend-item mx-3 text-info">
                                <i class="fas fa-backward fa-lg" title="{{ 'Return'|trans }}"></i><br>
                                <small class="font-weight-bold">{{ 'Return'|trans }}</small>
                            </div>

                            <div class="legend-item mx-3 text-danger">
                                <i class="fas fa-fast-backward fa-lg" title="{{ 'Force Return'|trans }}"></i><br>
                                <small class="font-weight-bold">{{ 'Force Return'|trans }}</small>
                            </div>

                            <div class="legend-item mx-3 text-warning">
                                <i class="fas fa-history fa-lg" title="{{ 'Revert'|trans }}"></i><br>
                                <small class="font-weight-bold">{{ 'Revert'|trans }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none" id="bike-card-last_usage_notes_template">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    <strong>{{ 'Note'|trans }}:</strong> <span id="note"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="bike-card-last_usage_template">
        <span id="action">
            <i class="RENT d-none fas fa-lg fa-forward text-info" aria-hidden="true" title="{{ 'Rent'|trans }}"></i>
            <i class="FORCERENT d-none fas fa-lg fa-fast-forward text-danger" aria-hidden="true" title="{{ 'Force Rent'|trans }}"></i>
            <i class="RETURN d-none fas fa-lg fa-backward text-info" aria-hidden="true" title="{{ 'Return'|trans }}"></i>
            <i class="FORCERETURN d-none fas fa-lg fa-fast-backward text-danger" aria-hidden="true" title="{{ 'Force Return'|trans }}"></i>
            <i class="REVERT d-none fas fa-lg fa-history text-warning" aria-hidden="true" title="{{ 'Revert'|trans }}"></i>
        </span>
        <span id="time"></span>
        <span id="standName"></span>
        <span id="userName"></span>
        <span id="parameter"></span>
        <hr/>
    </div>
</div>
{% endblock %}