{% extends 'base.html.twig' %}

{% block menuItems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">{{ 'Map'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin') }}">{{ 'Admin'|trans }}</a>
    </li>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
{% endblock %}

{% block title %}{{ 'Administration'|trans }}{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
    <script src="{{ asset('js/translations.php') }}"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script>
        {% if creditSystem.isEnabled %}
        var creditenabled = 1;
        var creditcurrency = '{{ creditSystem.getCreditCurrency() }}';
        {% else %}
        var creditenabled = 0;
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4">{{ 'Administration'|trans }}</h1>

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="admin-tabs">
                <li role="presentation" class="nav-item active">
                    <a class="nav-link" href="#fleet" aria-controls="fleet" role="tab" data-toggle="tab">
                        <span class="fas fa-lock" aria-hidden="true"></span> {{ 'Fleet'|trans }}
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#stands" aria-controls="stands" role="tab" data-toggle="tab">
                        <span class="fas fa-map-marker" aria-hidden="true"></span> {{ 'Stands'|trans }}
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#users" aria-controls="users" role="tab" data-toggle="tab">
                        <span class="fas fa-user" aria-hidden="true"></span> {{ 'Users'|trans }}
                    </a>
                </li>
                {% if creditSystem.isEnabled %}
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="#credit" aria-controls="credit" role="tab" data-toggle="tab">
                            <span class="fas fa-euro-sign" aria-hidden="true"></span> {{ 'Credit system'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#reports" aria-controls="reports" role="tab" data-toggle="tab">
                        <span class="fas fa-signal" aria-hidden="true"></span> {{ 'Reports'|trans }}
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="fleet">
                    {% include ('admin/fleet.html.twig') %}
                </div>
                <div role="tabpanel" class="tab-pane" id="stands">
                    {% include ('admin/stands.html.twig') %}
                </div>
                <div role="tabpanel" class="tab-pane" id="users">
                    {% include ('admin/user.html.twig') %}
                </div>
                {% if creditSystem.isEnabled %}
                    <div role="tabpanel" class="tab-pane" id="credit">
                        {% include ('admin/credit.html.twig') %}
                    </div>
                {% endif %}
                <div role="tabpanel" class="tab-pane" id="reports">
                    {% include ('admin/report.html.twig') %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}