<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('images/logo_small.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        {{ siteName }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://whitebikes.info/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.whitebikes.info/index.php/Ako_to_funguje%3F">{{ 'How it works'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.whitebikes.info/index.php/Ako_sa_zapoj%C3%ADm%3F">{{ 'Get Involved'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.whitebikes.info/index.php/Nie%C4%8Do_mi_nejde">{{ 'Help'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.whitebikes.info/index.php/Podrobn%C3%BD_manu%C3%A1l">{{ 'Manual'|trans }}</a>
            </li>
        </ul>
        {% if app.user %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
