<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/viewportDetect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/L.Control.Sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/translations.php') }}"></script>
    <script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/leaflet.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/L.Control.Sidebar.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="{{ block('title') }}" />
    <link rel="manifest" href="{{ asset('site.webmanifest') }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>

        var mapzoom = {{ configuration.systemzoom }};

        {% if auth.isLoggedIn %}
        var loggedin = 1;
        var priv = {{ user.findPrivileges(auth.userId) }};
        {% set usercity = user.findCity(auth.userId) %}
        {% if configuration.cities and configuration.citiesGPS %}
        var maplat = {{ configuration.citiesGPS[usercity][0] }};
        var maplon = {{ configuration.citiesGPS[usercity][1] }};
        {% endif %}
        {% else %}
        var loggedin = 0;
        var priv = 0;
        var maplat = {{ configuration.systemlat  }};
        var maplon = {{ configuration.systemlong }};
        {% endif %}

        var standselected = 0;
        var creditsystem = {{ creditSystem.isEnabled ? 1 : 0 }};
        var sms = {{ isSmsSystemEnabled ? 1 : 0 }};
        var freeTimeSeconds =  {{ configuration.watches.freetime * 60 }}; // and convert to seconds
        var serverTimeSeconds = {{ date().timestamp }}; // using the server timestamp for time difference calculation
    </script>
</head>
<body>
<div id="map"></div>

<div id="sidebar">
    <div id="overlay"></div>
    <div class="row text-center" style="margin-top: 0.5em;">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <ul class="list-inline">
                <li>
                    <a href="{{ configuration.systemrules }}" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;{{ 'Help'|trans }}
                    </a>
                </li>
                {% if auth.isLoggedIn and user.findPrivileges(auth.userId) > 0 %}
                    <li>
                        <a href="/admin">
                            <span class="glyphicon glyphicon-cog"></span>&nbsp;{{ 'Admin'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('personal_stats_year', {'year': 2024}) }}">
                            <span class="glyphicon glyphicon-signal"></span>&nbsp;{{ 'Year statistic'|trans }}
                        </a>
                    </li>
                {% endif %}
                {% if auth.isLoggedIn %}
                    <li>
                    <span class="glyphicon glyphicon-user"></span><small>{{ user.findUserName(auth.userId) }}</small>
                    {% if creditSystem.isEnabled %}
                        (
                        <span id="usercredit"
                              title="{{ 'Remaining credit'|trans }}">{{ creditSystem.getUserCredit(auth.userId) }} </span>
                        {{ creditSystem.getCreditCurrency() }}
                        <button type="button" class="btn btn-success btn-xs" id="opencredit"
                                title="{{ 'Add credit'|trans }}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        )
                        <span id="couponblock">
                                <br/>
                                <span class="form-inline"><input type="text" class="form-control input-sm" id="coupon"
                                                                 placeholder="XXXXXX"/>
                                    <button type="button" class="btn btn-primary btn-sm" id="validatecoupon"
                                            title="{{ 'Confirm coupon'|trans }}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </span>
                        </li>
                    {% endif %}
                    {% if configuration.cities and configuration.cities|length > 1 %}
                        <li>
                            <select class="form-control input-sm" id="citychange" title="{{ 'My City'|trans }}">
                                {% for city in configuration.cities %}
                                <option value="{{ city }}" {% if usercity == city %}selected{% endif %}>
                                    {% endfor %}
                            </select>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/logout" id="logout">
                            <span class="glyphicon glyphicon-log-out"></span>{{ 'Log out'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <h1 class="pull-left">{{ siteName }}</h1>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>

    <h2 id="standname"><select id="stands"></select><span id="standcount"></span></h2>
    <div id="standinfo"></div>
    <div id="standbikes"></div>
    <div class="row">
        <div class="col-lg-12">
            <div id="console">
            </div>
        </div>
    </div>
    <div class="row">
        <div id="standactions" class="btn-group">
            <div class="col-lg-12">
                <button class="btn btn-primary" type="button" id="rent"
                        title="{{ 'Choose bike number and rent bicycle. You will receive a code to unlock the bike and the new code to set.'|trans }}">
                    <span class="glyphicon glyphicon-log-out"></span> {{ 'Rent'|trans }} <span
                            class="bikenumber"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
        </div>
    </div>
    <div id="rentedbikes"></div>
    <div class="row">
        <div class="input-group">
            <div class="col-lg-12">
                <input type="text" name="notetext" id="notetext" class="form-control"
                       placeholder="{{ 'Describe problem'|trans }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group bicycleactions">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" id="return"
                        title="{{ 'Return this bicycle to the selected stand.'|trans }}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    {{ 'Return bicycle'|trans }}
                    <span class="bikenumber"></span>
                </button>
                (and <a href="#" id="note"
                        title="{{ 'Use this link to open a text field to write in any issues with the bicycle you are returning (flat tire, chain stuck etc.).'|trans }}">
                    {{ 'report problem'|trans }}
                    <span class=" glyphicon glyphicon-exclamation-sign"></span>
                </a>)
            </div>
        </div>
    </div>

    <div id="standphoto"></div>
</div>
</body>
</html>
