{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.84.2/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}"/>
{% endblock %}

{% block cities %}
    {% if app.user %}
        {% if cities and cities|length > 1 %}
            <li class="list-inline-item">
                <select class="form-control form-control-sm" id="citychange" title="{{ 'My City'|trans }}">
                    {% for city in cities|keys %}
                        <option value="{{ city }}" {% if app.user.city == city %}selected{% endif %}>{{ city }}</option>
                    {% endfor %}
                </select>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block menuItems %}
    {% if app.user and app.user.privileges > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">
                <i class="fas fa-cog mr-1"></i>{{ 'Admin'|trans }}
            </a>
        </li>
    {% endif %}
    {% if personalStatsYearUrl is not none %}
        <li class="nav-item">
            <a class="nav-link" href="{{ personalStatsYearUrl }}">
                <i class="fas fa-book mr-1"></i>{{ 'Year statistic'|trans }}
            </a>
        </li>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block userMenuItems %}
    {% if creditSystem.isEnabled %}
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-book mr-1"></i>{{ 'Remaining credit'|trans }}
                <span id="userCredit">{{ creditSystem.getUserCredit(app.user.userId) }}</span>
                {{ creditSystem.getCreditCurrency() }}
            </a>
        </li>
        <li>
            <a class="nav-link" href="#creditModal" data-toggle="modal">
                <i class="fas fa-plus mr-1"></i>{{ 'Add credit'|trans }}
            </a>
        </li>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bodyContainer %}
<div class="container-fluid flex-grow-1">
    <div id="map"></div>

    <div id="sidebar">
        <div id="overlay"></div>

        <!-- Title and Stand Selection -->
        <div class="row px-3 mt-3">
            <div class="col-12 text-center">
                <div class="form-inline mb-2">
                    <label for="stands" class="mr-2"><strong>Choose Stand:</strong></label>
                    <select id="stands" class="form-control form-control-sm mr-2"></select>
                </div>
                <h3><span id="standcount" class="badge badge-success"></span></h3>
            </div>
        </div>

        <div id="standinfo" class="text-center"></div>
        <div id="standbikes" class="text-center col-12 mb-1"></div>
        <div class="row">
            <div class="col-lg-12">
                <div id="console">
                </div>
            </div>
        </div>
        <div class="row">
            <div id="standactions" class="btn-group">
                <div class="col-lg-12">
                    <button class="btn btn-primary" type="button" id="rent"
                            title="{{ 'Choose bike number and rent bicycle. You will receive a code to unlock the bike and the new code to set.'|trans }}">
                        <i class="fas fa-bicycle"></i> {{ 'Rent'|trans }} <span class="bikenumber"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br/>
            </div>
        </div>
        <div id="rentedbikes"></div>
        <div class="row">
            <div class="input-group">
                <div class="col-lg-12">
                    <input type="text" name="notetext" id="notetext" class="form-control"
                           placeholder="{{ 'Describe problem'|trans }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-group bicycleactions">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" id="return"
                            title="{{ 'Return this bicycle to the selected stand.'|trans }}">
                        <i class="fas fa-sign-in-alt"></i>
                        {{ 'Return bicycle'|trans }}
                        <span class="bikenumber"></span>
                    </button>
                    (and <a href="#" id="note"
                            title="{{ 'Use this link to open a text field to write in any issues with the bicycle you are returning (flat tire, chain stuck etc.).'|trans }}">
                        {{ 'report problem'|trans }}
                        <i class="fas fa-exclamation-triangle"></i>
                    </a>)
                </div>
            </div>
        </div>

        <div id="standphoto" class="mt-1"></div>
    </div>
</div>

    <!-- Credit Modal -->
    <div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="creditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="creditModalLabel">{{ 'Add credit'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="couponblock">
                        <div id="coupon-message" class="mt-2"></div>
                        <div class="form-inline">
                            <input type="text" class="form-control form-control-sm mr-1" id="coupon" placeholder="XXXXXX"/>
                            <button type="button" class="btn btn-primary btn-sm" id="validatecoupon" title="{{ 'Confirm coupon'|trans }}">
                                <i class="fas fa-plus"></i> {{ 'Confirm coupon'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.84.2/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/npm/leaflet-sidebar@0.2.4/src/L.Control.Sidebar.js" charset="utf-8"></script>
    <script src="{{ asset('js/viewportDetect.js') }}"></script>
    <script src="{{ asset('js/translations.php') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
    <script>
        var mapzoom = {{ systemZoom }};

        {% if app.user %}
        var loggedin = 1;
        var priv = {{ app.user.privileges }};
        {% if cities %}
        var maplat = {{ cities[app.user.city][0] }};
        var maplon = {{ cities[app.user.city][1] }};
        {% endif %}
        {% else %}
        var loggedin = 0;
        var priv = 0;
        var maplat = {{ (cities|first)[0] }};
        var maplon = {{ (cities|first)[1] }};
        {% endif %}

        var standselected = 0;
        var creditsystem = {{ creditSystem.isEnabled ? 1 : 0 }};
        var freeTimeSeconds = {{ freeTime * 60 }}; // convert to seconds
        var serverTimeSeconds = {{ date().timestamp }}; // server timestamp for time difference calculation
    </script>
{% endblock %}
