{% extends 'base.html.twig' %}

{% block title %}{{ 'Registration'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="page-header">
        <h1>{{ 'Create account' | trans }}</h1>
        <div id="console"></div>
    </div>

    {{ form_start(form, {'attr': {'class': 'container'}}) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary" name="register">
        {{ 'Create account' | trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}
